:root{
    --color-1:rgb(241, 132, 59);
    --color-2:rgb(134, 241, 72);
    --color-3:rgb(238, 73, 188);
}
.container{
    background-color: var(--color-1);
    height: 550px;
    margin: auto;
    padding: 50px;
    width: 1150px;
}
.tools{
    background-color: var(--color-2);
    float: left;
    height: 500px;
    padding: 20px;
    width: 300px;
}
.back{
    background-color: var(--color-3);
    float: left;
    height: 500px;
    padding: 20px;
    width: 400px;
}
.ball-1{
    background-color: aliceblue;
    border-radius: 70px;
    height: 110px;
    width: 110px;
}
.ball-2{
    background-color: aliceblue;
    border-radius: 70px;
    height: 110px;
    width: 110px;
}
.ball-3{
    background-color: aliceblue;
    border-radius: 70px;
    height: 110px;
    width: 110px;
}
button{
    width: 260px;
    height: 100px;
    margin: 12px;
}